<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <!-- link css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <title>Tasty Burger Menu!</title>
    </head>

<body>
    <img src="/public/assets/img/burger.jpeg" alt="burger_img">
    
    {{{ body }}}

    <footer class="burgerFooter">
        <span>© Jake Lewis 2019</span>
        <a href="https://github.com/lewisjake/Burger">Reference</a>
    </footer>
</body>

</html>